.text-center
{
    text-align: center;
    text-decoration: underline;
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #F7DBA7, #F0AB86, #2F80ED);
}

.calculator {
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #F7DBA7, #F0AB86, #2F80ED);
    width: 300px;
    text-align: center;
}

#display {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 40px;
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: #f5f5f591;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 10px;
    font-size: 20px;
    background-color: #fff3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}
.

.btn:hover {
    background-color: #ddd;
}
